.git
bin
!bin/automation
ccmaas/viewer
docker
k8s
LICENSE
README.md
skaffold.yaml

test/projects/*/__pycache__/
test/projects/*/.pulumi
test/projects/*/test.sh

projects/*/__pycache__
projects/*/.pulumi
projects/*/*.yaml
!projects/*/Pulumi.yaml
